*{
  margin: 0;
  padding:0;
}

nav{
  margin: 10px auto;
  padding: 5px;
  display: flex;
  width: 95vw;
  background-color: #002663;
  justify-content: space-between;
}

 nav ul{
  display: flex;
  list-style: none;
  
 }

 .logo{
  padding: 5px;
  color: white;
 }
a{
  text-decoration: none;
  color: white;
}

 li{
  
  padding: 5px;
  margin: 0 auto;
 }