*{
  margin: 0;
  padding:0;
}

body{
  margin: 5px auto;
  background-color: #002663;
}
nav{
  margin: 10px auto;
  padding: 5px;
  display: flex;
  width: 95vw;
  background-color: #002663;
  justify-content: space-between;
}

 nav ul, li{
  display: flex;
  list-style: none;
  
 }

 .logo{
  padding: 5px;
  color: white;
 }
a{
  text-decoration: none;
  color: white;
}



 li{
  max-width: 95vw;
  padding: 5px;
  margin: 0 auto;
 }

 .ppl-Img{
  margin: 5px auto;
  width: 95vw;
  height: 45vh;
  background-image: url(/src/Media/pplImg.jpg);
  object-fit: cover;
  background-size: cover;
 }

 .banner-section{
  background-color: #27282b;
  text-align:  center;
  position: relative;
  top: 15vh;
  color: #ffffff;
 }
 #myProjects, #about-me{
  text-align: center;
  font-size: 2em;
  color: #ffffff;
  width: 95vw;
  margin: 25px auto;
 }


 .ProjectsSources{
  display: flex;
  width: 95vw;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-weight: 800;
  color: #ffffff;
 }
 .ProjectsSources{
  background-color: #002663;
 }
img{
  width: 300px;
  height: 200px;
}

.Card-item img{
  margin: 10px;
}
.Card-item{
  background-color: #27282b99;
  margin: 10px;
  padding-bottom: 5px;
  border-radius: 5px;
}

.Card-item:hover {
  background-color: #ffffff;
  color: #002663;
}
.About-container{
  display:flex; 
}

.details , .Contact{
  color: white;
  width: 20vw;
  background-color: #27282b80;
  border-radius: 5px;
  padding: 10px 5px;
  margin: 10px;
  flex-grow: 2;
  text-align: center;
  box-shadow: 3px 3px 3px #00000080;
}

.details:hover, .Contact:hover, a:hover{ 
  background-color: #ffffff;
  color: #002663;
  text-align: center;
}


.details{
  text-align: center;
  padding: 10px;
}

.details :nth-child(3){
  font-size: 1.5em;
  text-align: left;
  padding-left: 10px;
  text-decoration: underline;
}

.Contact a  {
  color: #8b0c0a;
}
.Contact h3{
  font-size: 1.5em;
}

.contact-list li{
  display: block;
  justify-content: center;
  padding: 25px;
}


@media (max-width: 660px){
  .About-container{
    flex-direction: column;
    width: 100%;
  }

  .details , .Contact{
    width: 95vw;
  }
  
  .details img{
   width: max-content;
  }
}

footer{
  text-align: center;
  height: 5vh;
  width: 100vw;
  margin: 0 auto;
  background-color: #27282b;

  
}
footer p{
  padding: 10px;
  
}
