*{
  margin: 0;
  padding:0;
}

body{
  margin: 5px auto;
  background-color: #002663;
}
nav{
  margin: 10px auto;
  padding: 5px;
  display: flex;
  width: 95vw;
  background-color: #002663;
  justify-content: space-between;
}

 nav ul{
  display: flex;
  list-style: none;
  
 }

 .logo{
  padding: 5px;
  color: white;
 }
a{
  text-decoration: none;
  color: white;
}

 li{
  max-width: 95vw;
  padding: 5px;
  margin: 0 auto;
 }

 .ppl-Img{
  margin: 5px auto;
  width: 95vw;
  height: 45vh;
  background-image: url(/src/Media/pplImg.jpg);
  object-fit: cover;
  background-size: cover;
 }

 .banner-section{
  background-color: #27282b;
  text-align:  center;
  position: relative;
  top: 15vh;
  color: #ffffff;
 }
 #myProjects{
  text-align: center;
  font-size: 1.5em;
  color: #ffffff;
  width: 95vw;
  margin: 25px auto;
 }


 .ProjectsSources{
  display: flex;
  width: 95vw;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-weight: 800;
  color: #ffffff;
 }
 .ProjectsSources{
  background-color: #002663;
 }
img{
  width: 300px;
  height: 200px;
}

.Card-item img{
  margin: 10px;
}
.Card-item{
  background-color: #27282b99;
  margin: 10px;
  padding-bottom: 5px;
  border-radius: 5px;
}

.Card-item:hover {
  background-color: #ffffff;
  color: #002663;
}
